.data-table thead th:first-child {
    border-top-left-radius: 10px;
}

/* Rounded top right corner of the table header */
.data-table thead th:last-child {
    border-top-right-radius: 10px;
    width: 1%;
}

.data-table thead th {
    text-wrap: nowrap;
    user-select: none;
}

.data-table .sortable:hover {
    cursor: pointer;
}

.data-table .sortable svg {
    opacity: 0.25;
    transform: scaleY(-1) scale(1.5);
}

.data-table .sortable.sortable-asc svg {
    opacity: 1;
    transform: scaleY(-1) scale(1.5);
}

.data-table .sortable.sortable-desc svg {
    opacity: 1;
    transform: scale(1.5);
}
.pagination-link {
    border-radius: 100%;
    background-color: #E2E8F0;
    margin: 2px;
}

.pagination-link.active-page {
    background-color: #2D3748;
    color: #ffffff;
}