@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/—Pngtree—wallpaper\ of\ a\ scenic\ mountain_3137681.jpg")
    top center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
}

.container {
  position: relative;
  width: 600px;
  height: fit-content;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
  transition: transform 0.6s ease-in-out;
  background-color: rgba(255,255, 255, 0.7);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.header {
  width: 100%;
  padding-top: 32px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.sub-header {
  text-align: center;
  padding: 0 16px;
  margin-top: 16px;
  font-size: 15px;
}

.email-text {
  font-size: 16px;
  color: red;
}

.verification-code {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 32px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.verification-code input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.verification-code input:focus {
  border-color: #f57f0e;
  outline: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.re-send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-down {
  margin-left: 15px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f57f0e;
  border: 2px solid #f57f0e;
  border-radius: 50%;
}

button {
  cursor: pointer;
  width: 180px;
  height: 46px;
  border: 1px solid #f57f0e;
  background-color: #f57f0e;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  border-radius: 20px;
  font-size: 20px;
}

button:hover {
  letter-spacing: 3px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  color: #fff;
}
.loading-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.loading-backdrop.loading-active {
  opacity: 0.5;
  pointer-events: all;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}